/*파란색 008CDC, 노란색 FDD900, 하늘색 D7F0FF*/



#skip-navi {position:absolute; top:0; left:0; width:0; overflow:hidden; visibility:hidden; font:나눔고딕,NanumGothic, 굴림, Gulim; }

.containerWrap {position:relative; width:100%; height:100%;}

.headWrap {width:100%; background-color:#A4DDFF; border-bottom:1px solid #CCCCCC; margin-bottom:20px;}
.head {position:relative; width:1000px; height:100px; margin:0 auto;}
.head h1 {position:absolute; top:20px; left:0;}

.head .customMenu {position:absolute; overflow:hidden; top:20px; right:0;}
.head .customMenu li {float:left; display:inline; margin-left:10px;}
.head .customMenu li span{font-weight:bold; color:#333333;}

.head .gnbMenu {overflow:hidden; position:absolute; top:70px; right:0; }
.head .gnbMenu li {float:left; margin:0 0 0 30px;}


.contentsWrap {width:100%; background-color:#FFFFFF;}
.contents {position:relative; width:1000px; height:600px; margin:0 auto;}
.contents h2 {position:absolute; top:10px; left:0;}

.contents .pageNavi {position:absolute; overflow:hidden; top:10px; right:0;}

.contents .listSearch {position:absolute; top:50px; left:0; width:100%; background-color:#EFEFEF; padding:8px 0 8px 0;}
.contents .listSearch span {margin-left:15px;}

.contents .line {position:absolute; top:35px; width:0%; border-bottom:1px solid #CCCCCC;}

.contents .calCtrl {overflow:hidden; position:absolute; top:118px; left:0; }
.contents .calCtrl li {float:left; margin-right:10px; }

.contents .listSummary {position:absolute; top:50px; left:0; width:100%; background-color:#EFEFEF; padding:12px 0 12px 0;}
.contents .listSummary li {float:left; margin-left:10px;}
.contents .listSummary li span {color:red; font-weight:bold;}

.contents .btnWrap {position:absolute; top:110px; right:0;}
.contents .btnWrap li {float:left;}

.contents .list {position:absolute; top:145px;}

.tailWrap {width:100%; background-color:#EFEFEF; border-top:1px solid #CCCCCC;}
.tail {position:relative; width:1000px; height:100px; margin:0 auto; padding-top:5px;}


.layerBack{position:absolute; width:100%; height:100%; top:0px; left:0px; background-color:black;filter:alpha(opacity=40); opacity:0.4; z-index:9997;}
.layerpopupBack{position:absolute; top:0px; left:0px; width:100%; height:100%;z-index:9998;}
.layerPopupWrap {position:relative;}
.layerPopup {width:730px; margin: 0 auto; background-color:#FFFFFF; height:650px; margin-top:50px; padding:20px;}
.layerPopup .layerHead {position:relative; width:700px;}
.layerPopup .layerHead span {position:absolute; top:0; right:0; font-size:30px;}
.layerPopup .layerHead .line {position:absolute; top:30px; width:92%; border-bottom:1px solid #CCCCCC;}
.layerPopup .layerContent {position:relative; width:650px;}
.layerPopup .layerContent .listSearch{position:absolute; top:30px; left:0; width:100%; background-color:#EFEFEF; padding:8px 0 8px 0;}
.layerPopup .layerContent .listSearch span {margin-left:15px;}
.layerPopup .layerContent .total{position:absolute; top:85px;}
.layerPopup .layerContent .list {position:absolute; top:110px;}
.layerPopup .layerContent .paging {clear:both; text-align:center;}
.layerPopup .layerTail {position:relative; top:460px;width:100%;}
.layerPopup .layerTail .layerBtn {clear:both; text-align:center;}