/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; background-color:#f2f5f7; color:#677d92;}
table td, table th { padding: 9px 10px; border-bottom:1px solid #dfe6eb;}

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0;}
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 32%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc;}
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th { white-space: nowrap; background-color:#f2f5f7; color:#677d92;} 
	.pinned table td { white-space: nowrap; height:22px; text-align:center; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden;}
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	div.table-wrapper div.scrollable table { margin-left: 32%;}
	
	
	table.responsive td { position: relative; white-space: nowrap; overflow: hidden; text-align} 
	table.responsive th { position: relative; white-space: nowrap; overflow: hidden; background-color:#f2f5f7; color:#677d92; }
	table.responsive th:first-child{ display: none; }
	table.responsive td:first-child{ display: none; }
	table.responsive td:first-child{ display: none; }
	table.responsive.pinned td { display: none; }
	
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */

