@charset "euc-kr";




/* Layouts */
.container{}
.header {margin-top:10px;}
.header_title h2{text-align:center; margin-bottom:5px;}
.header_week {width:100%; position:relative; height:50px;}
.header_week .week_prev {position:absolute; left:0px; top:0px; width:25%;}
.header_week .week_picker {position:absolute; top:0px; left:25%; width:50%;}
.header_week .week_next {position:absolute; top:0px;right:0px; width:25%;}
.content{position:relative;}
.content .table_wrap{padding:5px;}
.content .table_wrap table tr td{padding:0px; text-align:center;}
.content .table_wrap .content_table tr td{text-align:left;}
.content .table_wrap .content_table .today_point{font-weight:bold;}
.content .meet_info{position:absolute; top:45px; left:0px;}
.content .content_table {width:100%; margin-bottom:10px;}
.content .content_table tr td{border-bottom:1px solid #EEEEEE; padding: 10px; text-align:left;}


/* Layouts #서브 */
.sub_container{padding:10px; background-color:#666666;}
.sub_wrapper{background-color:#FFFFFF; padding:5px; border-radius:3px;}
.header_title h3{text-align:left; margin-bottom:5px;}
.header_delete{position:absolute; top:10px; right:10px;}
.info_wrap .person_info_title{padding:10px 0 5px 0; color:#3879D9;}
.person_info_01{border-top:1px solid #CCCCCC; width:100%;}
.person_info_01 tr th{padding:5px; border-bottom:1px solid #EEEEEE;}
.person_info_01 tr td{padding:5px; border-bottom:1px solid #EEEEEE; border-left:1px solid #EEEEEE; text-align:left; color:#666666;}
.person_info_02{border-top:1px solid #CCCCCC; width:100%;}
.person_info_02 tr th{padding:5px; border-bottom:1px solid #EEEEEE;}
.person_info_02 tr td{padding:5px; border-bottom:1px solid #EEEEEE; border-left:1px solid #EEEEEE; text-align:left; color:#666666;}



/* jQuery modify */
.ui-input-text {height:33px;}
.ui-input-text input {}
.ui-btn{font-size:12.5px;}
.ui-controlgroup-controls 