<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.GroupMapper">

	<select id="selectGroupById" parameterType="int" resultType="kr.ch.oe.model.Group">
		select 
			id,
			church_id,
			gyogu_id,
			zo_id,
			mokjang_id
		from 
			oe_group
		where
	   		id = #{mokjangId}
	</select>
	
	<select id="selectGroupsByCriteria" parameterType="map" resultType="kr.ch.oe.model.Group">
	  select 
			id,
			church_id,
			gyogu_id,
			zo_id,
			mokjang_id
		from 
			oe_group
	</select>

	<insert id="insert" parameterType="kr.ch.oe.model.Group">
	
	
		insert into oe_group(id, church_id, gyogu_id, zo_id, mokjang_id) values(#{groupId}, #{churchId}, #{gyoguId}, #{zoId}, #{mokjangId})
	</insert>
	
	<update id="update" parameterType="kr.ch.oe.model.Group">
	
	</update>
	
	<delete id="delete" parameterType="int">
	
	</delete>
</mapper>