<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.MemberMapper">

	<select id="list" parameterType="kr.ch.oe.model.Member" resultType="string">
	  select id from oe_member where id=#{id} and password=#{password}
	</select>
	
	<insert id="insert" parameterType="kr.ch.oe.model.Member">
		insert into oe_member(
		  	id, 
		  	password,
		  	email,
		  	name,
		  	birthday,
		  	job,
		  	address,
		  	mobile_phone,
		  	home_phone
		  ) values(
		  	#{id},
		  	#{password},
		  	#{email},
		  	#{name},
		  	#{birthday},
		  	#{job},
		  	#{address},
		  	#{mobilePhone},
		  	#{homePhone}
	  	)
	</insert>

</mapper>