<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.MokjangMapper">

	<resultMap id="mokjang" type="kr.ch.oe.model.Mokjang">
		<id property="id" column="id" />
		<association property="group" resultMap="group"></association>
		<collection property="members" resultMap="member" columnPrefix="member_" />
	</resultMap>
	
	<resultMap id="role" type="kr.ch.oe.model.Role">
		<id property="role_id" column="id" />
		<result property="type" column="type" />
	</resultMap>
	
	<resultMap id="group" type="kr.ch.oe.model.Group">
		<id property="id" column="group_id" />
		<result property="churchId" column="church_id" />
		<result property="zoId" column="zo_id" />
	</resultMap>
	
	<resultMap id="member" type="kr.ch.oe.model.Member">
		<id property="id" column="id" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="name" column="name" />
		<result property="birthday" column="birthday" />
		<result property="job" column="job" />
		<result property="address" column="address" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="homePhone" column="home_phone" />
	</resultMap>

	<select id="selectMokjangById" parameterType="long" resultMap="mokjang">
		select 
			mokjang.id
			,mokjang.group_id
			,leader_id
			,member.id member_id
			,member.email member_email
			,member.name member_name
			,member.birthday member_birthday
			,member.job member_job
			,member.address member_address
			,member.mobile_phone member_mobile_phone 
			,member.home_phone member_home_phone
		from 
			oe_mokjang mokjang
		inner join oe_member member on mokjang.group_id = member.group_id 
		inner join oe_group oegroup on mokjang.group_id = oegroup.id
		where mokjang.id = #{id}
	</select>
	
	<select id="selectMokjangsByCriteria" parameterType="map" resultMap="mokjang">
	  select 
			mokjang.id
			,mokjang.gyogu_id
			,leader_id
			,member.id member_id
			,member.email
			,member.name
			,member.birthday
			,member.job
			,member.address
			,member.mobile_phone
			,member.home_phone
		from 
			oe_mokjang mokjang
		inner join oe_member member on mokjang.id = member.mokjang_id
		inner join oe_group oegroup on mokjang.group_id = oegroup.id
	</select>

	<insert id="insert" parameterType="kr.ch.oe.model.Mokjang">
		<selectKey keyProperty="mokjangId" resultType="int" order="BEFORE">
    		select nextval('sq_mokjang')
  		</selectKey>
	
		insert into oe_mokjang(
			id 
			,church_id 
			,gyogu_id 
			<if test="group.zoId !=null and group.zoId != ''">,zo_id</if>
			<if test="leader.memberId !=null and leader.memberId != ''">,leader_id</if>
		) values(
			#{mokjangId} 
			,#{group.churchId} 
			,#{group.gyoguId} 
			<if test="group.zoId !=null and group.zoId != ''">,#{group.zoId}</if>
			<if test="leader.memberId !=null and leader.memberId != ''">,#{leader.memberId}</if>
		)
	</insert>
	
	<update id="update" parameterType="kr.ch.oe.model.Mokjang">
	
	</update>
	
	<delete id="delete" parameterType="int">
	
	</delete>
</mapper>