<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.ReportMapper">

	<insert id="insertPersonalReport" parameterType="kr.ch.oe.model.PersonalReport">
	  <selectKey keyProperty="id" resultType="int" order="BEFORE">
    	select nextval('sq_personal_report')
  	  </selectKey>
	  insert into oe_personal_report(
	  	id, 
	  	member_id,
	  	group_id,
	  	weeks,
	  	attend_mokjang,
	  	enrol_mokjang,
	  	attendant_8weeks,
	  	enroll_mokjang_after_enroll_church,
	  	graduate_nurture,
	  	graduate_school,
	  	enroll_church,
	  	enroll_church_after_enroll_mokjang,
	  	decrease_mokjang,
	  	sent_church,
	  	restaurant_service
	  ) values(
	  	#{id},
	  	#{member.id}
	  	#{group.id},
	  	#{weeks},
	  	#{attendMokjang},
	  	#{enrollMokjang},
	  	#{attend8weeksMokjang},
	  	#{enrollChurchAfterEnrollMokjang},
	  	#{graduateNurtureMokjang},
	  	#{graduateSchoolChurch},
		#{erollChurch},
		#{enrollChurchAfterEnrollMokjang},
	  	#{decreaseAttendantMokjangChurch},
	  	#{sentChurch},
	  	#{restaurantServiceChurch}
	  )
	</insert>
	
	<select id="selectPersonalReport" resultType="kr.ch.oe.model.PersonalReport">
		select * from oe_personal_report
	</select>
	
	<update id="updatePersonalReport">
	</update>

	<delete id="deletePersonalReport">
	</delete>
	
	<insert id="insertMokjangReport" parameterType="kr.ch.oe.model.Report">
	 <selectKey keyProperty="id" resultType="int" order="BEFORE">
    	select nextval('sq_report')
  	  </selectKey>
	  insert into oe_mokjang_report(
	  	id, 
	  	group_id,
	  	weeks,
	  	meet_date,
	  	meet_place,
	  	welcome_member,
	  	worship_member,
	  	word_member,
	  	work_member,
	  	next_meet_place,
	  	offering
	  
	  ) values(
	  	#{id},
	  	#{group.id},
	  	#{weeks},
	  	#{meetingDate},
	  	#{meetingPlace},
	  	#{welcomeMember},
	  	#{worshipMember},
	  	#{wordMember},
	  	#{workMember},
	  	#{nextMeetingPlace},
	  	#{offering}
	  	
	  	)
	</insert>
	
	<select id="selectMokjangReport" resultType="kr.ch.oe.model.PersonalReport">
		select * from oe_personal_report
	</select>
	
	<update id="updateMokjangReport">
	</update>

	<delete id="deleteMokjangReport">
	</delete>
	
</mapper>