<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.MemberMapper">
	
	<resultMap id="member" type="kr.ch.oe.model.Member">
		<id property="member_id" column="id" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="name" column="name" />
		<result property="birthday" column="birthday" />
		<result property="job" column="job" />
		<result property="address" column="address" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="homePhone" column="home_phone" />
		
		<association property="role" resultMap="role"></association>
		<association property="group" resultMap="group"></association>
	</resultMap>
	
	<resultMap id="role" type="kr.ch.oe.model.Role">
		<id property="role_id" column="id" />
		<result property="type" column="type" />
	</resultMap>
	
	<resultMap id="group" type="kr.ch.oe.model.Group">
		<id property="groupId" column="id" />
		<result property="churchId" column="church_id" />
		<result property="zoId" column="zo_id" />
		<result property="mokjangId" column="mokjang_id" />
		
	</resultMap>
	
	<select id="list" parameterType="kr.ch.oe.model.Member" resultType="string">
	  select id from oe_member where id=#{id} and password=#{password}
	</select>
	
	<insert id="insert" parameterType="kr.ch.oe.model.Member">
	 <selectKey keyProperty="memberId" resultType="int" order="BEFORE">
    	select nextval('sq_member')
  	</selectKey>
  
		insert into oe_member(
		  	id,
		  	mokjang_id, 
		  	role_id,
		  	password,
		  	email,
		  	name,
		  	birthday,
		  	job,
		  	address,
		  	mobile_phone,
		  	home_phone
		  ) values(
		  	#{memberId},
		  	#{mokjang.mokjangId},
		  	#{role.roleId},
		  	#{password},
		  	#{email},
		  	#{name},
		  	#{birthday},
		  	#{job},
		  	#{address},
		  	#{mobilePhone},
		  	#{homePhone}
	  	)
	</insert>
	
	<select id="selectMember" parameterType="int" resultMap="member">
		select id, 
		  	password,
		  	email,
		  	name,
		  	birthday,
		  	job,
		  	address,
		  	mobile_phone,
		  	home_phone
		from 
			oe_member member
		inner join 
			oe_group group on member.group_id = group.id
		inner join 
			oe_role role on member.role_id = role.id
		where 
			member.id = #{memberId}
	</select>

	<select id="selectMembersByCriteria" parameterType="map" resultMap="member">
		select 
			--id, 
		  	password,
		  	email,
		  	name,
		  	birthday,
		  	job,
		  	address,
		  	mobile_phone,
		  	home_phone,
		  	role_id,
		  	group_id
		from 
			oe_member oemember
		inner join 
			oe_group oegroup on oemember.group_id = oegroup.id
		inner join 
			oe_role oerole on oemember.role_id = oerole.id
	</select>
	
	<delete id="delete" parameterType="int">
		delete from 
			oe_member 
		where 
			id = #{memberId}
	</delete>
</mapper>