<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.MemberMapper">
	
	<resultMap id="member" type="kr.ch.oe.model.Member">
		<id property="userId" column="user_id" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="name" column="user_name" />
		<result property="birth" column="birth" />
		<result property="job" column="job" />
		<result property="addr" column="addr" />
		<result property="cellPhone" column="cell_phone" />
		<result property="homePhone" column="home_phone" />
	</resultMap>
	
	<select id="selectMembersByCriteria" parameterType="map" resultMap="member">
		select 
			member.user_id, 
		  	member.password,
		  	member.email,
		  	member.user_name,
		  	member.birth,
		  	member.job,
		  	member.addr,
		  	member.cell_phone,
		  	member.home_phone
		from 
			member member
	</select>
	
</mapper>