<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.MokjangMapper">

	<select id="selectMokjangById" parameterType="int" resultType="kr.ch.oe.model.Mokjang">
		select 
			id,
			church_id,
			gyogu_id,
			zo_id,
			mokjang_id
		from 
			oe_group
		where
	   		id = #{mokjangId}
	</select>
	
	<select id="selectMokjangsByCriteria" parameterType="map" resultType="kr.ch.oe.model.Mokjang">
	  select 
			id,
			church_id,
			gyogu_id,
			zo_id,
			mokjang_id
		from 
			oe_group
	</select>

	<insert id="insert" parameterType="kr.ch.oe.model.Mokjang">
		<selectKey keyProperty="mokjangId" resultType="int" order="BEFORE">
    		select nextval('sq_mokjang')
  		</selectKey>
	
		insert into oe_mokjang(
			id 
			,church_id 
			,gyogu_id 
			<if test="group.zoId !=null and group.zoId != ''">,zo_id</if>
			<if test="leader.memberId !=null and leader.memberId != ''">,leader_id</if>
		) values(
			#{mokjangId} 
			,#{group.churchId} 
			,#{group.gyoguId} 
			<if test="group.zoId !=null and group.zoId != ''">,#{group.zoId}</if>
			<if test="leader.memberId !=null and leader.memberId != ''">,#{leader.memberId}</if>
		)
	</insert>
	
	<update id="update" parameterType="kr.ch.oe.model.Mokjang">
	
	</update>
	
	<delete id="delete" parameterType="int">
	
	</delete>
</mapper>