<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ch.oe.dao.RoleMapper">

	<select id="selectRoleById" parameterType="int" resultType="kr.ch.oe.model.Role">
	  select 
	  	id,
	  	name
	   from oe_role
	   where id = #{id}
	</select>
	
	<select id="selectRolessByCriteria" parameterType="map" resultType="kr.ch.oe.model.Role">
	  select 
	  	id,
	  	name
	   from oe_role
	</select>

	<insert id="insert" parameterType="kr.ch.oe.model.Role">
		insert into oe_role(id, name, type) values(#{id}, #{name}, #{type})
	</insert>
	
	<update id="update" parameterType="kr.ch.oe.model.Role">
	
	</update>
	
	<delete id="delete" parameterType="int">
	
	</delete>
</mapper>